{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LearnQuran</title>

  <!-- Bootstrap Core CSS -->
    {% block css_o %}
    {% endblock %}

  <!-- Custom Fonts -->
  <link href="{% static 'learnQuran/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'learnQuran/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'learnQuran/css/stylish-portfolio.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
    <div>
      <a class="delete-all rounded float-left bg-danger" style="
    position: fixed;
  left: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
" href="{% url 'learnQuran:delete' %}" title="Supprimer la base de donnée">
            <i class="fas fa-eraser"></i>
        </a>
      <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
      </a>
    </div>

  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="{% url 'learnQuran:accueil' %}">learnQuran</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'learnQuran:calendar' %}">Calendrier</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="{% url 'learnQuran:add' %}">Ajouter</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#liste">Etudiants</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  {% block header %}
  {% endblock %}
  {% block content %}
    {% endblock %}

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#!">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; université Al HUSSARY 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'learnQuran/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'learnQuran/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  {% block js_o %}{% endblock %}
  <script src="{% static 'learnQuran/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
{#  <script src="{% static 'learnQuran/vendor/select2/select2.min.js' %}"></script>#}
{#    <script src="{% static 'learnQuran/vendor/datepicker/moment.min.js' %}"></script>#}
{#    <script src="{% static 'learnQuran/vendor/datepicker/daterangepicker.js' %}"></script>#}
{##}
{#    <!-- Main JS-->#}
{#    <script src="{% static 'learnQuran/js/global.js' %}"></script>#}
  <!-- Custom scripts for this template -->
  <script src="{% static 'learnQuran/js/stylish-portfolio.min.js' %}"></script>

</body>

</html>
