{% extends 'learnQuran/base.html' %}
{% load static %}
{% block css_o %}
    <link href="{% static 'learnQuran/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}


    <!-- Callout -->
    <section class="callout">
        <div class="container text-center">
            {% if content %}
                <h2 class="mx-auto mb-5 text-light">
                <a class="btn btn--pill btn-outline-info" href="#calendrier">
                    <i class="fa fa-angle-double-down"></i>
                </a>

                </h2>
            {% else %}
                <h4 class="mx-auto mb-5 text-light">Pas encore de calendrier</h4>
                <a href="{% url 'learnQuran:add_calendar' %}" class="btn btn-xl btn-light mr-4">Etablir le
                    calendrier</a>
            {% endif %}
        </div>
    </section>


    <!-- Call to Action -->
    <section class="content-section bg-primary text-white text_center" id="calendrier">
    <div class="container text-center">
        <a href="{% url 'learnQuran:delete_calendrier' %}" class="btn btn-outline-danger">Supprimer le calendrier<i class="far fa-trash-alt"></i></a>
    </div>
    <hr/>
        <div class="container text-center alert alert-warning p-0">
            <marquee scrollamount="10">Ce calendrier est établie sur la période du 1er Avril 2021 jusqu'à 5 semaines après</marquee>
        </div>
    {% for sem, calend in global %}
        <div class="container text-center">

        <hr/>
            <h2 class="text-light-50" id="liste">Calendrier de la semaine {{ sem }}</h2>
        <hr/>
            <table class="table table-dark table-responsive-md m-10 p-3">
                <thead class="thead-light">

                <tr>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                    <th>Samedi</th>
                    <th>Dimanche</th>
                </tr>
                </thead>
                <tbody>
                {% for s in calend %}
                    <tr>
                        <td>{{ s.Lundi.etudiant.prenom }} {{ s.Lundi.etudiant.nom }}</td>
                        <td>{{ s.Mardi.etudiant.prenom }} {{ s.Mardi.etudiant.nom }}</td>
                        <td>{{ s.Mercredi.etudiant.prenom }} {{ s.Mercredi.etudiant.nom }}</td>
                        <td>{{ s.Jeudi.etudiant.prenom }} {{ s.Jeudi.etudiant.nom }}</td>
                        <td>{{ s.Vendredi.etudiant.prenom }} {{ s.Vendredi.etudiant.nom }}</td>
                        <td>{{ s.Samedi.etudiant.prenom }} {{ s.Samedi.etudiant.nom }}</td>
                        <td>{{ s.Dimanche.etudiant.prenom }} {{ s.Dimanche.etudiant.nom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    </section>
{% endblock %}